
###> symfony/framework-bundle ###
.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

id.html

###< symfony/framework-bundle ###
node_modules

### PEM File ###
ec2-keys-leave-soft.pem

M2DEV-21-22-Projet de spec.pptx

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
